.form-select-group {
	border-color: var(--clr-border);
	padding: 20px;
	cursor: pointer;
}

.item-content>p {
	color: var(--clr-denim);
}

.select-price {
	color: var(--clr-gray);
}

.form-select-group:hover {
	border: 1px solid var(--clr-purple);
}

.form-select-group.active-plan {
	border: 2px solid var(--clr-purple);
	background-color: var(--clr-very-light-gray);
}

.checkbox-wrapper-59 input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

.billing-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-family: sans-serif;
	padding: 10px;
	background-color: var(--clr-very-light-gray);
	border-radius: 5px;
}

.active-label {
	color: #0a2c56;
	font-weight: 600;
}

.inactive-label {
	color: #b0b0b0;
}

/* Switch styling */
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 18px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--clr-denim);
	transition: 0.4s;
	border-radius: 34px;
}

/* Circle inside the slider */
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 3px;
	bottom: 3.2px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked+.slider:before {
	transform: translateX(17px);
}

.form-price-switch{
	margin-top: 40px;
}

.free-months{
	margin-top: 4px;
	display: block;
	color: var(--clr-denim);
}